.text{
    border: 3px solid gray;
    border-radius: 1px 60px 1px 60px;
   margin-top: 55px;
   background:rgb(241, 252, 241);

}
.text p{
    color: rgb(38, 39, 39);
    cursor: pointer;
}
.AboutUsContainer img{
    margin-top: 50px;
    
    
}